{% extends "base.html" %}



{% block content %}
  <!-- PRODUCTS -->

  <section class="section products">
    <div class="products-layout container">
      <div class="col-1-of-4">
        <div>
          <div class="block-title">
            <h3>Category</h3>
          </div>

          <ul class="block-content">
            <li>
              <input type="checkbox" name="" id="">
              <label for="">
                <span>Shoes</span>
                <small>(10)</small>
              </label>
            </li>

            <li>
              <input type="checkbox" name="" id="">
              <label for="">
                <span>Bags</span>
                <small>(7)</small>
              </label>
            </li>

            <li>
              <input type="checkbox" name="" id="">
              <label for="">
                <span> Accessories</span>
                <small>(3)</small>
              </label>
            </li>

            <li>
              <input type="checkbox" name="" id="">
              <label for="">
                <span>Clothings</span>
                <small>(3)</small>
              </label>
            </li>
          </ul>
        </div>

        <div>
          <div class="block-title">
            <h3></h3>
          </div>

          <ul class="block-content">
           
          </ul>
        </div>
      </div>
      <div class="col-3-of-4">
        

        <div class="product-layout">

            <div class="product">
            <div class="img-container">
              <a href="productDetails1">
              <img src="./static/productsimages/1.jpg" alt="" />
              </a>
              <div class="addCart">
              <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
              <span><i class="fas fa-search"></i></span>
              <span><i class="far fa-heart"></i></span>
              <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="productDetails">CALL of DUTY</a>
              <div class="price">
                <span>Level: 30 | Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/2.jpeg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="">Destiny 2</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <a href="productDetails3">
              <img src="./static/productsimages/4.jpg" alt="" />
              </a>
              <div class="addCart">
                <a href="productDetails3">
                <i class="fas fa-shopping-cart"></i>
                </a>
              </div>

              <ul class="side-icons">
                <a href="productDetails3">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
                </a>
              </ul>
            </div>
            <div class="bottom">
              <a href="">League of Legends</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/3.jpg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="">Genshin Impact</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <a href="productDetails2">
              <img src="./static/productsimages/5.jpeg" alt="" />
              </a>
              <div class="addCart">
                <a href="productDetails2">
                <i class="fas fa-shopping-cart"></i>
                </a>
              </div>
              <a href="productDetails2">
              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
              </a>
            </div>
            <div class="bottom">
              <a href="">Minecraft</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/6.jpeg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="">Roblox</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/7.jpeg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="">Rocket League</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/8.jpeg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="">World of Warcraft</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/9.jpeg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="">Apex Legends</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/10.jpeg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="">Valorant</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/11.jpeg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="">Among Us</a>
              <div class="price">
                <span>Level: 30 | $150</span>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="img-container">
              <img src="./static/productsimages/12.jpeg" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <div class="bottom">
                <a href="">Fortnite</a>
                <div class="price">
                  <span>Level: 30 | $150</span>
                </div>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            

        <!-- PAGINATION -->
        <ul class="pagination">
          <span>1</span>
          <span>2</span>
          <span class="icon">››</span>
          <span class="last">Last »</span>
        </ul>
      </div>
    </div>
  </section>
    
{% endblock %}